<!--<input type="file" style="display: none" #uploader>

<button (click)="uploader.click()">Upload file</button>-->
<app-menu></app-menu>
<div class="container">
  <div class="function-container">
    <p> The double of 3 is: {{duplicateNumber(3)}}</p>
</div>
  <!--<app-rating [maxRating]="5" (rated)="processRating($event)"></app-rating>-->
  <router-outlet></router-outlet>
</div>


<!--<h2>Data of the movie: Example using NgFor and NgIf</h2>
<div *ngIf="!movies">
  <img src="loading.gif"/>
</div>
<div *ngIf="movies?.length === 0">
  <p>There are no movies to display</p>
</div>
<div *ngIf="movies && movies.length > 0">
  <div class="movies-container-NgFor" *ngFor="let movie of movies; let $index = index">
    <div>
    {{$index + 1}}) Movie:<b>{{movie.title | uppercase}}  </b>
    </div>
    <div>
      Release Date: {{movie.releaseDate | date:"MMMM-dd-yyyy" | uppercase}}
    </div>
    <div>
    Price: {{movie.price | currency}}
    </div>
  </div>
</div>-->